* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button * {
  pointer-events: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../assets/background-rps.jpg);
  background-size: calc(30rem);
  background-repeat: no-repeat;
  background-color: #9fc5e9;
}

img {
  width: 7rem;
  height: auto;
}

#title {
  text-align: center;
  font-size: 3rem;
}

#paperSpan {
  color: white;
}

#rockSpan {
  color: rgb(98, 98, 102);
}

#scissorsSpan {
  color: rgb(170, 79, 13);
}

#weaponChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  font-size: 1.3rem;
  margin-left: 6rem;
}

#choiceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

#choiceContainer p {
  width: 90%;
  text-indent: 1rem;
}

#rock, #paper, #scissors {
  border-radius: 1rem;
  margin-left: 6rem;
  background: none;
  transition: 0.2s ease-in-out;
}

#rock {
  background-color: gray;
  color: white;
}

#paper {
  background-color: white;
}

#scissors {
  background-color: chocolate;
  color: white;
}

#rock:hover, #paper:hover, #scissors:hover {
  transform: scale(1.1);
}

#roundResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 6rem;
  font-size: 2rem;
}

#score {
  position: relative;
  text-align: right;
  font-size: 3rem;
  top: 3rem;
}

#reset {
  text-align: center;
}

#resetBtn {
  font-size: 3rem;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  transition: 0.3s all ease-in-out;
}

#resetBtn:hover {
  transition: 0.3s;
  transform: scale(1) translate3d(0, 0, 0);
  background-color: black;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  transform: scale(1.1);
}

/* Media Queries */

@media (max-width: 1900px) {
  body {
    background-image: none;
  }
}


/* Media medium sizes */
@media (max-width: 1261px) {
  #choiceContainer {
    flex-direction: column;
    gap: 2rem;
  }

  #resetBtn {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  #score {
    font-size: 2rem;
    margin-right: 2rem;
  }
  
}

@media (max-width: 1107px) {

  #resetBtn {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-left: 4.5rem;
  }

  #roundResults {
    font-size: 1.4rem;
    left: 3.5rem;
  }
}

@media (max-width: 764px) {
  #score {
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  #roundResults {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  #resetBtn {
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {
  #score {
    font-size: 1rem;
  }

  #roundResults {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 400px) {
  #score {
    font-size: .9rem;
    margin-right: -.5rem;
  }

  #roundResults {
    margin-bottom: 6rem;
  }

  #resetBtn {
    font-size: .9rem;
  }
}
