* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button * {
  pointer-events: none;
}

body {
  min-height: 100vh;
  background-image: url(../assets/background-rps.jpg);
  background-repeat: no-repeat;
  background-size: calc(20rem);
  background-color: #9fc5e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#welcome-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

#instructions-title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

#press-button-text {
  font-size: 1.5rem;
  position: relative;
  top: 6rem;
}

#rules {
  font-size: 1.3rem;
  width: 40%;
  margin-top: 2rem;
}

#rock-span {
  color: gray;
}

#paper-span {
  color: white;
}

#scissors-span {
  color: chocolate;
}

#newgame-btn-div  {
  text-align: center;
}

#newgame-btn {
  font-size: 3rem;
  width: 20rem;
  margin-top: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: black;
}

#newgame-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  font-size: 1.2rem;
  position: relative;
  top: 7rem;
}

/* Start game settings */
img {
  width: 5rem;
  height: auto;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#choice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  gap: 3rem;
}

#rock {
  background-color: gray;
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
  color: white;
}

#paper {
  background-color: rgb(248, 244, 244);
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
}

#scissors {
  background-color: rgb(210, 105, 30);
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
  color: white;
}

#rock:hover, #paper:hover, #scissors:hover  {
 transform: scale(1.2);
 box-shadow: 5px 5px 5px 5px rgb(102, 101, 101);
}

#score {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 2rem;
  margin-top: 1rem;
}

#counter {
  order: 1;
  font-size: 3rem;
}

#reset-btn, #home-btn {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: black;
  text-align: center;
}

#reset-btn:hover, #home-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

#reset-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10rem;
}

#round-results {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5rem;
}

@media (max-width: 1280px) {

  #copyright {
    display: flex;
    flex: 1;
    margin-bottom: 15rem;
  }

  #reset-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 1200px) {

  body {
    background-size: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #welcome-title {
    font-size: 1rem;
  }

  #rules {
    width: 40rem;
  }

  #newgame-btn {
    width: 20rem;
    font-size: 2rem;
  }

  #container {
    display: flex;
    flex-wrap: wrap;
  }

}

@media (max-width: 1024px) {

  body {
    background-size: 15rem;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  #rules {
    width: 35rem;
  }

  #newgame-btn {
    width: 18rem;
    font-size: 1.8rem;
  }

  #score {
    font-size: 1.5rem;
  }

  #counter {
    font-size: 1.8rem;
  }

  img {
    width: 3rem;
  }

  #choice-container {
    margin-top: 10rem;
  }

  #reset-btn, #home-btn {
    margin-top: -3rem;
  }

  #round-results {
    font-size: 1.5rem;
    text-align: center;
  }
}

/* Medium size devices */
@media (max-width: 995px) {

  #title {
    width: 50rem;
    font-size: 1.5rem;
    text-align: center;
  }

  #instructions-title {
    font-size: 1.2rem;
  }

  #rules {
    font-size: 1.2rem;
    width: 45%;
  }

  #newgame-btn {
    font-size: 1rem;
    width: 15rem;
  }

  #score {
    font-size: 1rem;
  }

  #round-results {
    text-align: center;
  }
  
  body {
    background-size: 12rem;
  }

}

/* Small size devices */
@media (max-width: 530px) {

  #rock, #paper, #scissors{
    width: 9.5rem;
    height: 7.5rem;
  }

  body, html {
    flex-wrap: nowrap;
  }

  #container {
    flex-wrap: nowrap;
  }

  #score {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .2rem;
  }

  #counter {
    font-size: 1.3rem;
  }

  #reset-btn {
    position: relative;
    bottom: 7rem;
    font-size: 1rem;
  }

  #home-btn {
    position: relative;
    bottom: 3rem;
    font-size: 1rem;
  }

  #choice-container {
    margin-bottom: 2rem;
  }

  #round-results {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: -2rem;
  }

  #start-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #title {
    font-size: 1.4rem;
    width: 50%;
  }

  #rules {
    width: 65%;
    font-size: 1.1rem;
  }

  body {
    background-position: bottom;
    background-size: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  #press-button-text {
    position: relative;
    top: 4rem;
  }

  #newgame-btn {
    font-size: 1rem;
    width: 10rem;
    padding: 0.5rem;
    position: relative;
    bottom: 3rem;
  }

  #copyright {
    position: absolute;
    top: 51rem;
  }
}

/* Extra */
@media (max-width: 425px) {
  
  body {
    background-size: 10rem;
  }

  #rules {
    width: 90%;
  }

  #copyright {
    font-size: .8rem;
    margin-top: 0.5rem;
  }
}
