* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../rock-paper-scissors/assets/background-rps.jpg);
  background-size: calc(30rem);
  background-repeat: no-repeat;
  background-color: #9fc5e9;
}

img {
  width: 8rem;
  height: auto;
}

#title {
  text-align: center;
  font-size: 3rem;
}

#paperSpan {
  color: white;
}

#rockSpan {
  color: rgb(98, 98, 102);
}

#scissorsSpan {
  color: rgb(170, 79, 13);
}

#weaponChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  font-size: 1.3rem;
  margin-left: 6rem;
}

#choiceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 6rem;
}

#choiceContainer p {
  width: 90%;
}

#rock, #paper, #scissors {
  border-radius: 1rem;
  margin-left: 6rem;
  padding: 0;
  background: none;
  transition: 0.2s ease-in-out;
}

#rock {
  background-color: gray;
  color: white;
}

#paper {
  background-color: white;
}

#scissors {
  background-color: chocolate;
  color: white;
}

#rock:hover, #paper:hover, #scissors:hover {
  transform: scale(1.1);
}

#roundResults {
  position: relative;
  top: 5rem;
  left: 31rem;
}

#score {
  position: relative;
  text-align: right;
  font-size: 3rem;
  top: 3rem;
}

#reset {
  text-align: center;
}

#resetBtn {
  font-size: 3rem;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  transition: 0.3s all ease-in-out;
}

#resetBtn:hover {
  transition: 0.3s;
  transform: scale(1) translate3d(0, 0, 0);
  background-color: black;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  transform: scale(1.1);
}




